﻿.jumbotron {
    background-color: lavender;
    color: black;
    margin-top: 50px;
}

.btn {
    color:black;

}

footer {
    padding: 10px 10px 0 10px;
    background-color: lavender;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-ropa {
    flex: 1 200px;
    margin-top: 10px;
    text-align:center;
}

.btn-detalle {
    width: 100%;
    border-radius: 5px;
    margin-top: 3px;
    background-color: mediumpurple;

}
hr.estilo {
    border: 2px solid lavender;
    border-radius: 2px;
}

.footer-address-icon{
    padding-right: 7px;
}

.tab-content {
    padding-top: 10px;
}